<h2>Player Information</h2>

<hr>

<div class="bounding_box">
	<span class="panel">
		<% @tribes.each do |tribe| %>
			<h2><%= tribe.display_name %></h2>
			<% tribe.users.order("email").each do |user| %>
				<p>
					<%= user.email.split("@").first.capitalize %>
					<% unless user.nickname.nil? %>
						"<%= user.nickname %>"
					<% end %>
				</p>
			<% end %>
			<br>
		<% end %>
	</span>
</div>
