<h2>Voting</h2>
<hr>
<div class="bounding_box">
	<h3>SOME TITLE</h3>
	<p>Some content would go in here for you to read, maybe a description of some sort which would talk about something?</p>

	<hr>

	<h3>SOME TITLE</h3>
	<p>Some content would go in here for you to read, maybe a description of some sort which would talk about something?</p>
</div>
