<h2>Voting Board</h2>
<hr>
<div class="bounding_box">
	<% if @votes.count.zero? %>
		<p>No voting information posted.</p>
	<% end %>

	<% @votes.each do |vote| %>
		<h2><%= vote.title %></h2>
		<%= markdown vote.content %>
		<p class="date"><%= vote.updated_at.localtime.strftime("%A, %b, %d at %l:%M %P") %></p>
	<% end %>
</div>
